.accordion {
  border: 1px solid var(--color-border);
  border-radius: 0.2rem;
  padding: 1rem;
}

.accordion-header button {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  gap: 0.4rem;

  width: 100%;
}

.accordion-body {
  max-height: 0;
  overflow: hidden;

  transition: max-height 0.3s ease-in-out;
}

.accordion-header button :nth-last-child(1) {
  margin-left: auto;
}

.chevron {
  transform: rotate(180deg);

  transition: transform 0.3s;
}

.chevron.open {
  transform: rotate(0);
}

.accordion-body.open {
  max-height: 1000px;
}
