input,
textarea {
  border: var(--color-border) solid 2px;
  border-radius: 0.2rem;
  padding: 0.4rem;

  font-family: 'Inter', system-ui, sans-serif;
}

input:focus,
textarea:focus {
  outline: var(--color-primary) solid 2px;
  outline-offset: -2px;
}
