main {
  display: flex;
  flex: 1;
}

.form-section {
  background-color: #fff;
  border-right: var(--color-border) solid 1px;

  flex: 1;

  padding: 1rem;
}

.cv-section {
  flex: 2;
}

.input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-group input {
  max-width: 65%;
  width: 100%;
  margin-right: 0.1rem;
}

.input-group:nth-child(1) {
  margin-top: 1.4rem;
}

.input-group:nth-last-child(1) {
  margin-bottom: 0.1rem;
}

.input-group label {
  font-size: 0.9rem;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.accordion-icon {
  color: var(--color-primary);
}
